.navbar {
  background-color: var(--primary);
  padding: 10px;
  border-bottom: 4px solid var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px; // Espacio para el logo
}

.menuContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.dropdown {
  position: relative;
  display: inline-block;

  &:hover .dropdownMenu {
    display: block;
  }
}

.dropdownButton {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  .dropdownItem {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
    width: 100%;
    padding: 0px;

    &:hover {
      background-color: #f1f1f1;
    }
  }    
}

.dropdownItem a {
  display: block;
  padding: 15px;
  width: 100%;
}